[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "3.14.8"
psycopg2 = "2.9.2"
flask = "2.0.2"
flask-praetorian = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
